        <!DOCTYPE html>
        <html>
          <head>
            <title>Application with EJS</title>
          </head>
          <body>
            <h1>#{mensaje}</h1>
          </body>
        </html>
